<div id = "home">
	<div id="coverPic" style = "background-image:url('/assets/images/ptp5.jpg');">
    	<div id ="firstLine" class ="homeContainer">The community that you live in</div>
    	<div id="secondLine" class ="homeContainer">The community that you can trust</div>
    	<div id ="thirdLine" class ="homeContainer">
			<div id="perspective">
				<div id = "title">Welcome to prestige tech park forums!!</div>
			</div>
			<a id="skipButton" href="/">skip intro<span id = "time"></span></a>
    	</div>
    	<div class="overlay"></div>
    </div>
</div>

