
	
#home {
	font-family: 'Rubik One', sans-serif;
	font-size: 4vh;
	overflow: hidden;
	width: 100%;
	color: #BDBDBD;
	
}
.overlay {
	background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.55;
}
.homeContainer {
	position: relative;
    z-index: 4;
	max-width: 50%;
	height: 20%;
	font-style:italic;
}
#firstScreen, #secondScreen {
	height: 100%;
    width: 100%;
}

#secondScreen {
	display: none;
}
#firstLine {
	top: 15%;
	left: 10%;
	opacity: 0;
}

.homePage #firstLine {
	animation: titleanimationB 0.75s forwards;
}

#secondLine {
	top: 27%;
	left: 50%;
	opacity: 0;
}

.homePage #secondLine {
	animation: titleanimationB 0.75s 0.75s forwards;
}

#thirdLine {
	top: 44%;
	text-align: center;
	max-width: 100%;
}

#fourthLine {
	top: -16%;
	max-width: 100%;
}

.homePage #title {
	animation: rotateWordsSecond  4s ease-in;
	webkit-animation: rotateWordsSecond 4s ease-in;
	display: block;
}

#title {
	display: none;
}

#perspective {
	perspective: 800px;
}


#skipButton { 
	display: inline-block; 
	padding: 10px 20px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .5s;
	vertical-align: middle;
	text-decoration: none;
	font-size: 2vh;
	background-color: grey;
}

#coverPic {
	height: 91vh;
	//background-image:url('/assets/images/ptp5.jpg');
	background-repeat:no-repeat;
	background-size:cover;
   /*css hack for ie*/     
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.ptp5.jpg',sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ptp5.jpg',sizingMethod='scale')";
}
@keyframes titleanimationB {
	0%   {opacity: 0; margin-left: -300px;}
	100% {opacity: 1; margin-left: 0px;}
}

@-moz-keyframes titleanimationB {
	0%   {opacity: 0; margin-left: -300px;}
	100% {opacity: 1; margin-left: 0px;}
}

@-webkit-keyframes titleanimationB {
	0%   {opacity: 0; margin-left: -300px;}
	100% {opacity: 1; margin-left: 0px;}
}


@-o-keyframes titleanimationB {
	0%   {opacity: 0; margin-left: -300px;}
	100% {opacity: 1; margin-left: 0px;}
}

@-webkit-keyframes rotateWordsSecond {
	0% { opacity: 0;}
	50% { opacity: 0; -webkit-transform: translateZ(600px);}
    70% { opacity: 1; -webkit-transform: translateZ(0px);}
	100% {opacity: 1}
}

@-ms-keyframes rotateWordsSecond {
	0% { opacity: 0;}
	50% { opacity: 0; -ms-transform: translateZ(600px);}
    70% { opacity: 1; -ms-transform: translateZ(0px);}
	100% {opacity: 1}
}

@keyframes rotateWordsSecond {
	0% { opacity: 0;}
	50% { opacity: 0; -webkit-transform: translateZ(600px);}
    70% { opacity: 1; -webkit-transform: translateZ(0px);}
	100% {opacity: 1}
}

//Overrides

.homePage {
	max-width: 100%;
	padding: 0px;
}

@keyframes type{
  from { width: 0; opacity:1;}
  to {opacity:1;} 
}

@keyframes blink {
  to {opacity: 0;}
}

#typing {
	height:100%;
	max-width: 100%;
	width: 100%;
}

#typing div{ 
  white-space: nowrap;
  overflow: hidden;
  height: 8%;
  width: 100%;
  padding: 2%;
  opacity: 0;
  top: 50%;
  position: fixed;
}

.homePage #typing div:nth-child(1){
  animation: type 6s steps(60, end);
}

.homePage #typing div:nth-child(2){
  animation: type 6s steps(60, end) 6s;
}

.homePage #typing div:nth-child(3){
  animation: type 6s steps(60, end) 12s;
}

.homePage #typing div:nth-child(4){
  animation: type 3.5s steps(60, end) 18s;
}
.homePage #typing div:nth-child(5){
  animation: type 3.5s steps(60, end) 21.5s;
}
.homePage #typing div:nth-child(6){
  animation: type 6s steps(60, end) 25s;
}

.homePage #typing #blink {
  animation: blink 1s infinite;
}
@media (max-width: 1000px){
	.homeContainer {
		font-size: 2.5vh;
	}
	.homeContainer #typing span  { 
       display: block;
    }

}